

body {
    background-color: #E0983E;
}

h1 {
color: whitesmoke;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
background-color: #456538;
border: 2px solid #684b11;
border-radius: 7px;
}

h3 {
    color: #9C2913;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9C2913;
    background-image:  background-image: url("../pizza.jpg");
}

#menuBG {
    width: 600px;
    height: 570px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto
}

#frmMenu {
    width: 600px;
    height: 200px;
    border: 5px solid #E9C590;
    border-radius: 7px;
    padding: 10px;
    margin: 50px auto;
    background-color: #ca8d16;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 20 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.center {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}


#showtext {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;margin: 0px auto;
    width: 400px;
    height: 200px;
    text-transform: uppercase;
}

#btnOrder {
    margin: 20px 0px 0px 100px;
    width: 120px;
    height: 60px;
    display: block;
    background-color: #456538;
    color: whitesmoke;
    border-radius: 8px;
    font-weight: bold;
    
}

video {
    z-index: -1;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
}
